<html>
<head>
    <title>Ping-Pong</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            namespace = ''
            var socket = io()
            socket.on("server_to_client", function (msg) {
                alert("message from server to client: " + msg.msg)
            })
            $("#run_button_id").click(function () {
                message = "ping"
                alert("mesage from client to server: " + message)
                socket.emit("client_to_server", { msg: message })
            })
        })
    </script>
</head>
<body>
    <button id="run_button_id">Ping</button>
</body>
</html>